<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center fonttitle">Ingrese Presupuesto Estimado</h2>
        <div class="card">
            <div class="card-body">
                <div *ngIf="quantityFail" class="text-center mb-3">
                    <span class="badge bg-danger">El presupuesto debe ser mayor a 0</span>
                </div>
                <input [(ngModel)] = "quantity" type="number" class="form-control" placeholder="Ingrese presupuesto">
                <button class="btn btn-secondary btn-lg btn-block mt-3" (click) = "add()" >Aceptar</button>
            </div>
        </div>
    </div>
</div>